<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Administrar pedidos | Cleopatra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

<header>

    <h1>Administración de Pedidos</h1>

    <nav>
        <a href="{{ url_for('admin_panel') }}">Panel admin</a>
        <a href="{{ url_for('catalogo') }}">Ver tienda</a>
        <a href="{{ url_for('logout') }}">Cerrar sesión</a>
    </nav>

</header>


<section class="admin-pedidos">

    <h2>Pedidos realizados</h2>

    {% if pedidos %}

    <table>

        <tr>
            <th>ID</th>
            <th>Referencia</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Estado</th>
            <th>Acción</th>
        </tr>

        {% for pedido in pedidos %}

        <tr>

            <td>{{ pedido.id_pedido }}</td>

            <td>{{ pedido.referencia }}</td>

            <td>{{ pedido.nombre }}</td>

            <td>{{ pedido.fecha }}</td>

            <td>${{ pedido.total }}</td>

            <td>{{ pedido.estado }}</td>

           <td>

<td>

<a href="{{ url_for('admin_detalle_pedido', id=pedido.id_pedido) }}">
Ver detalle
</a>

<br>

<a href="{{ url_for('admin_eliminar_pedido', id=pedido.id_pedido) }}"
onclick="return confirm('¿Seguro que deseas eliminar este pedido?')">
Eliminar
</a>

</td>

</td>

        </tr>

        {% endfor %}

    </table>

    {% else %}

        <p>No hay pedidos registrados.</p>

    {% endif %}

</section>


<footer>

    <p>Cleopatra Admin</p>

</footer>

</body>
</html>